/* CSS NAV */
nav{
    background-color: aliceblue;
}
nav li{
    position: relative;
    display: inline;
}
.left{
    float: left;
    padding-left: 3%;
}
.right{
    float: right;
    padding-right: 3%;
}

/* CSS MAIN */
main{
    background-color: #ccc;
}
/* #banner{
    background-image: url(/TiniTravelWebsite/Images/lodging.png);
    background-size: cover;
    height: 500px;
} */

img{
    width: 100%;
    padding: 2% 2%;
}
/* CSS FOOTER */
footer{
    background-color: aliceblue;
}
footer a{
    text-decoration: none;
}
.row .col-lg-4{
    margin-top: 5%;
}
#banner{
    padding-bottom: 5%;
}

/* MOBILE */
@media only screen and (max-width:767px) {
    a{
        font-size: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    
}
/* TABLET */
@media only screen and (min-width:768px) and (max-width:991px)  {
    a{
        font-size: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    
}

/* PC, LAPTOP */
@media only screen and (min-width:992px)  {
    a{
        font-size: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    #banner{
    position: relative;
    background-image: url(/TiniTravelWebsite/Images/lodging.png);
    background-size: cover;
    height: 500px;   
    }
    #banner h1{
        position: absolute;
        padding-left: 5%;
        padding-top: 10%;
        color: #fff;
    }
    #banner p{
        position: absolute;
        padding-left: 5%;
        padding-top: 13%;
        color: #fff;
    }
}